[Unit]
AssertPathExists=/home/pi

[Service]
WorkingDirectory=/home/pi/src/simple-discovery
ExecStart=/home/pi/src/simple-discovery/listener.py
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
